@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}

#__next {
  height: 100%;
}

.fit {
  min-height: calc(100vh - 88px);
}

.next-image-wrapper > span {
  height: 100% !important;
}

.reset-this * {
  font-size: revert;
  font-weight: revert;
  font-family: revert;
  font-style: revert;
}
